@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');

footer {
  height: 10rem;
  background-color: #0d0d0d;

  section {
    color: #fff;
    text-transform: none !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    text-align: center;

    a { 
      color:#f2b84b !important;
      font-weight: bold;
    }
  }
}
