header {
  height: 8rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
  position: fixed;
  top: 0;
  z-index: 100000;
  transition: background-color 0.3s ease;

  .menu-mobile {
    display: none;
    width: 2rem;
  }

  @include device("s") {
    padding: 0;
    justify-content: space-around;

    .menu-mobile {
      display: block;
    }
  }

  .logo a {
    color: #3854f2;
    letter-spacing: 0.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    justify-content: center;
    gap: .5rem;

    img {
      width: 2.5rem;
    }

    &:hover {
      color: #fdfdfd;
    }

    @include device("s") {
      font-size: 2.2rem;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    transition: 0.5s;

    @include device("s") {
      gap: 1rem;
      position: absolute;
      display: none;
      opacity: 0;
      top: 0;
      right: 0;
    }

    a {
      font-weight: bolder;
      letter-spacing: 0.1rem;
      
    }

    &.active {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 7rem;
      padding-top: 2rem;
      background-color: #0d0d0d;
      position: absolute;
      margin-top: 8rem;
      width: 60dvw;
      height: 100lvh;
      opacity: 1;
    }
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-input {
    width: 100%; /* Largura inicial do campo de pesquisa */
    transition: width 0.3s ease; /* Transição suave para a largura */
  }

  .search-input:focus {
    width: 15rem !important; /* Largura expandida do campo de pesquisa */
  }

  input {
    width: 8rem !important;
    height: 3rem;
    border: 2px solid transparent;
    background-color: #f2b84b;
    color: #0d0d0d;
    border-radius: 100px;
    padding: 1rem;

    &::placeholder {
      color: #0d0d0d !important;
    }

    &:focus {
      outline: none;
      border-color: #fff;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer !important;
    img {
      margin-left: 1rem;
      width: 2rem;

      &:hover {
        filter: brightness(10);
      }
    }
  }
}

.solid {
  background-color: #0d0d0d;

  input {
    background-color: #3854f2;
  }

  a {
    color: #3854f2;
    text-shadow: 0 0 10px #000000;
  }

  #navbar.active {
    background-color: #0d0d0d;
  }
}

.transparent {
  background-color: #000000a4;
  backdrop-filter: blur(10px);

  .logo a {
    color: #f2b84b;
    text-shadow: 0 0 10px #000000;
  }

  a {
    color: #f2b84b;
    text-shadow: 0 0 10px #000000;
  }

  #navbar.active {
    background-color: #000000;
  }
}

.active {
  color: #fff !important;
}
