.search-container {
  min-height: 100vh;
}

.search-title {
  font-size: 4.4rem;
  letter-spacing: 0.3rem;
  text-decoration: overline underline;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;

  span {
    color: #f5c518;
  }

  @include device('s') {
    font-size: 3.4rem;
  }
}
