@import "reset";
@import "grid";
@import "container";
@import "navBar";
@import "home";
@import "movieCard";
@import "search";
@import "movie";
@import "serie";

body {
  margin-top: 8rem;
  background-color: #3854f2;
  background-image: url("../../assets/sass/img/low-poly-grid-haikei.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
  height: calc(100vh - 8rem);
}
