.bg-movie {
  min-height: calc(100vh - 8rem);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #f2b84b;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  .blur {
    min-height: calc(100vh - 8rem);
    width: 100%;
    background: #0000000b;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-poster {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;

    .poster-title {
      font-size: 4rem;
      color: #f2b84b;
      margin-bottom: 1rem;
    }

    .poster-overview {
      font-size: 2rem;
      color: #fff;
    }

    span {
      font-size: 2rem;
    }

    .vote {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      color: #f2b84b;
    }

    .vote img {
      width: 3rem;
    }

    .web-link a {
      color: #fff !important;
    }
  }

  .poster {
    max-height: calc(100vh - 8rem);
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
      font-size: 2rem;
      background-color: #000;
      border-radius: 0.5rem;
      padding: 0.1rem 1rem;
      margin-top: 0.5rem;
    }

    img {
      height: 100%;
      max-height: 50rem;
      border: 1rem solid #00000071;
      backdrop-filter: blur(8px);
    }
  }
}
